# GenAI Project Dependencies
# Main requirements for all services

# API Service
fastapi
uvicorn[standard]
python-dotenv
openai

# Optional Dependencies:
# - For local models: pip install -r requirements-local.txt

# Add other services dependencies here as needed
# RAG Service
# ...

# Agents Service
# ...

